# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# VS Code settings
.vscode/

# Data and outputs
data/
vectordb/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment files
.venv
*.env

# Python virtual environments
venv/
ENV/
